@model MassAutoGarage.Models.HRMS_EmployeeFamilyDetails.HRMSEmployeeFamilyDetailsModel

@{
    ViewBag.Title = "Employee Family Details";
    ViewBag.pTitle = "Employee Family Details";
    ViewBag.pageTitle = "Forms";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<style>

    .main-table {
        width: 100%;
        /*  max-width: 980px;*/
        /* change to suit*/
        margin: auto;
        border: 1px solid #4b38af;
        border-collapse: collapse;
    }

        .main-table thead th {
            background: #4b38af;
            color: #fff;
            color: #fff;
            font-size: 0.8rem;
            padding: 5px 9px 6px 9px;
            line-height: 1;
            border: 1px solid #626060;
        }

        .main-table th,
        .main-table td {
            vertical-align: top;
            text-align: left;
            border: 1px solid #626060;
        }

    td.numbers {
        text-align: center;
    }

    .main-table td {
        font-size: 13px; /* font-size: 0.7rem;*/
        padding: 3px 9px;
        border-bottom: 1px solid #999; /* dotted borders look bad on tables*/
        line-height: 1.2;
    }

    .table-heading {
        font-size: 0.7rem;
        margin: 0 0 0.5em;
    }

    .item-options {
        margin: 0 0 0.5rem;
        overflow: hidden;
        clear: both;
    }

        .item-options dt {
            margin: 0;
            font-weight: bold;
        }

        .item-options dt,
        .item-options dd {
            display: inline-block;
            margin: 0;
            padding: 0 5px 0 0;
            vertical-align: top;
        }

            .item-options dt:after {
                content: ":";
            }

    .main-table tbody tr:nth-child(odd) td {
        background: #f9f9f9;
    }

    @@media screen and (max-width: 540px) {
        table.mobile-optimised {
            word-wrap: break-word;
            font-size: 1rem;
            border: none;
        }

            table.mobile-optimised thead {
                display: none;
            }

            table.mobile-optimised td {
                display: block;
                float: left; /* ie9 and under hack */
                width: 100%;
                clear: both;
                background: #eee;
                border: none;
                padding: 10px 5px;
                box-sizing: border-box;
                font-size: 12px;
            }

            table.mobile-optimised tbody,
            table.mobile-optimised tr {
                display: block;
            }

        .mobile-optimised td:before {
            content: attr(data-th);
            display: block;
            font-weight: bold;
            margin: 0 0 2px;
            background: #19937b;
            color: #fff;
            padding: 5px;
        }

        .mobile-optimised tbody tr {
            border-bottom: 1px solid #000;
            overflow: hidden;
        }

        .item-options,
        .table-heading {
            font-size: 1rem;
        }

        .mobile-optimised .numbers {
            text-align: left;
        }

        .main-table tbody tr:nth-child(odd) td {
            background: #ccc;
        }
    }
</style>
<!-- New Dive-->
<script src="https://unpkg.com/sweetalert2@7.8.2/dist/sweetalert2.all.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.1/sweetalert.css" rel="stylesheet" />
@section styles{
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
}

@using (Html.BeginForm("EmployeeFamilyDetails", "HRMS_EmployeeFamilyDetails", FormMethod.Post, new { enctype = "multipart/form-data", OnSubmit = "return ValidationForm()", @class = "form-validate" }))
{
    <div class="row">
        <div class="col-lg-12">
            <div class="card">


                <div class="card-header main-f">
                    <div class="row">
                        <div class="col-md-6 col-5"> <h5 class="card-title mb-0 gp-detail">HRMS - EMPLOYEE FAMILY DETAILS</h5></div>
                        <div class="col-md-6 col-7"  id="hdfbacktolist">
                            <a href="@Url.Action("Index", "HRMS_EmployeeFamilyDetails")" class="btn btn-primary add-new" style="float:right;" tabindex="1"> <i class="fa fa-arrow-left align-middle me-1"></i> BACK TO EMPLOYEE FAMILY DETAILS LIST</a>
                        </div>
                    </div>
                </div>


                <!-- end card header -->
                <div class="card-body">
                    <div class="live-preview">
                        <div class="row gy-4">
                            <div class="col-xxl-4 col-md-4">
                                <div>
                                    <label for="basiInput" class="form-label">Employee Branch <code>*</code></label>
                                    @Html.HiddenFor(m => m.ID, new { @class = "form-control" })
                                    @Html.DropDownListFor(x => x.BranchId, new SelectList(ViewBag.BranchList, "ID", "BranchName"), "- Select Branch -", new { @class = "form-control", tabindex = 1 })
                                    @Html.ValidationMessageFor(m => m.BranchId, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-xxl-4 col-md-4">
                                <div>
                                    <label for="basiInput" class="form-label">Mother Name<code>*</code></label>
                                    @Html.TextBoxFor(m => m.MotherName, new { @class = "form-control", tabindex = 2 })
                                    @Html.ValidationMessageFor(m => m.MotherName, null, new { @class = "field-validation-error", data_valmsg_for = "ShortName" })
                                </div>
                            </div>
                            <div class="col-xxl-4 col-md-4">
                                <div>
                                    <label for="basiInput" class="form-label">Employee Name<code>*</code></label>
                                    @Html.TextBoxFor(m => m.EmployeeName, new { @class = "form-control", tabindex = 2 })
                                    @Html.ValidationMessageFor(m => m.EmployeeName, null, new { @class = "field-validation-error", data_valmsg_for = "ShortName" })
                                </div>
                            </div>
                            <div class="col-xxl-4 col-md-4">
                                <div>
                                    <label for="basiInput" class="form-label">Marital Status<code>*</code></label>
                                    @Html.DropDownListFor(x => x.MaritalStatusId, new SelectList(ViewBag.MaritalList, "ID", "MaritalStatus"), "- Select Marital Status -", new { @class = "form-control", tabindex = 1 })
                                    @Html.ValidationMessageFor(m => m.MaritalStatusId, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-xxl-4 col-md-4">
                                <div>
                                    <label for="basiInput" class="form-label">Father Name<code>*</code></label>
                                    @Html.TextBoxFor(m => m.FatherName, new { @class = "form-control", tabindex = 2 })
                                    @Html.ValidationMessageFor(m => m.FatherName, null, new { @class = "field-validation-error", data_valmsg_for = "ShortName" })
                                </div>
                            </div>
                            <div class="col-xxl-4 col-md-4">
                                <div>
                                    <label for="basiInput" class="form-label">Photo<code>*</code></label>
                                    <input type="file" name="Photo" id="Photo" class="form-control" />
                                </div>
                            </div>

                            <div class="col-xxl-12 col-md-12">
                                <div style="text-align:right;">
                                    <input type="button" id="btnsave" value="Save" class="btn btn-success" style=" margin-top: 8%;" />
                                    <input type="button" id="btnReset" value="Reset" class="btn btn-danger" style=" margin-top: 8%;" onclick="return Reset();" />
                                </div>
                            </div>
                            <div class="col-xxl-12 col-md-12">
                                <div class="form-floating" style="float:left;">


                                </div>

                            </div>
                            <!--end col-->
                            <div class="col-xxl-12 col-md-12">
                                <div class="table-responsive">



                                </div>
                            </div>

                            <div class="col-xxl-12 col-md-12">
                                <div class="form-floating" style="float:right;">


                                </div>

                            </div>
                        </div>
                        <!--end col-->
                    </div>
                    <!--end row-->
                </div>

            </div>
        </div>
    </div>

}
<!--end col-->



@section scripts{
    <!-- prismjs plugin -->
    <script src="~/assets/libs/prismjs/prism.js"></script>
    <!-- App js -->
    <script src="~/assets/js/app.js"></script>
}

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="https://unpkg.com/sweetalert2@7.8.2/dist/sweetalert2.all.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.1/sweetalert.css" rel="stylesheet" />

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script src="~/MyApp/HRMS_EmployeeFamilyDetails.js"></script>

<script>
    $(document).ready(function () {

    });
</script>


<script>
    if ($("#ID").val() != 0) {
        $("#btnsave").val('Update');
    }
</script>


