@model List<MassAutoGarage.Models.HR_Reimbursement.HR_ReimbursementModel>

@{
    ViewBag.Title = "ReimbursementList";
    ViewBag.pTitle = "Reimbursement List";
    ViewBag.pageTitle = "Forms";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int i = 1; int j = 1;
}

<style type="text/css">
    body {
        font-family: Inter, sans-serif;
        font-size: 10pt;
    }

    table {
        border: 1px solid #ccc;
        border-collapse: collapse;
        border-width: thin;
    }

        table th {
            background-color: #F7F7F7;
            color: #333;
            font-weight: bold;
        }

        table th, table td {
            padding: 5px;
            border: 1px solid #ccc;
            border-width: thin;
        }

    fieldset {
        border: solid;
        border-color: #181616;
        border-width: thin;
    }

    legend {
        float: none;
        width: 59%;
        background-color: #bbb1b1;
        color: white;
        padding: 5px 10px;
        font-size: small;
        margin-bottom: 20px;
    }
</style>

<script src="https://unpkg.com/sweetalert2@7.8.2/dist/sweetalert2.all.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.1/sweetalert.css" rel="stylesheet" />
@section styles{
    <!--datatable css-->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap5.min.css" />
    <!--datatable responsive css-->
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.2.2/css/buttons.dataTables.min.css">
}




<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header main-f">
                <div class="row">
                    <div class="col-md-6 col-5"> <h5 class="card-title mb-0 gp-detail">HR_Reimbursement List</h5></div>
                    <div class="col-md-6 col-7">
                        <a href="@Url.Action("Reimbursement","HR_Reimbursement")" class="btn btn-primary add-new" style="float:right;" tabindex="1"> <i class="fa fa-arrow-left align-middle me-1"></i>Add Reimbursement</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="col-lg-12">
                    <div class="live-preview">
                        <div class="row gy-4 mb-3">
                            <div class="col-xxl-4 col-md-6 col-5">
                                Advance Filter <input type="text" id="txtsearch" class="form-control" tabindex="2" />
                            </div>
                            <div class="col-xxl-8 col-md-6 col-7 right-text">
                                <button id="btnExport" class="btn btn-soft-primary btn-sm shadow-none" style="margin-top:20px;" tabindex="3"><i class="fa fa-file-excel-o" aria-hidden="true"></i> Excel</button>
                                <button id="btnPdf" class="btn btn-soft-primary btn-sm shadow-none" style="margin-top:20px;" tabindex="4"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> PDF</button>
                                <button id="btnprint" class="btn btn-soft-primary btn-sm shadow-none" style="margin-top:20px;" onclick="Print()" tabindex="5"><i class="fa fa-print" aria-hidden="true"></i> Print</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="table-responsive">
                    <table border="1" id="example" class="display table table-bordered" style="width:100%">
                        <thead>
                            <tr>
                                <th style=" width: 1%;">S.N.</th>
                                <th>Voucher No</th>
                                <th>Name</th>
                                <th>From Date</th>
                                <th>To Date</th>
                                <th>Branch</th>
                                <th style="width:22%;">Action</th>
                            </tr>
                        </thead>
                        <tbody id="tBodyId">

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td data-th="Srl.No.">@i</td>
                                    <td data-th="Srl.No.">@item.VoucherNo</td>
                                    <td data-th="Code">@item.Name</td>
                                    <td data-th="Code">@item.FromDate</td>
                                    <td data-th="Code">@item.ToDate</td>
                                    <td data-th="Code">@item.BranchName</td>
                                    <td data-th="Action">
                                        <div class="d-flex gap-2">
                                            <div>
                                                <a href="javascript:void(0)" onclick="return ViewReimbursementDetails('@item.Idencrept')" class="btn btn-sm btn-primary remove-item-btn">View <i class="fa fa-eye" aria-hidden="true"></i></a>
                                            </div>
                                            <div class="edit">
                                                <a href="/HR_Reimbursement/Reimbursement?Id=@item.Idencrept" class="btn btn-sm btn-success edit-item-btn" tabindex="6">Edit <i class="fa fa-edit"></i></a>
                                            </div>
                                            <div class="remove">
                                                <a href="javascript:void(0)" onclick="return DeleteReimbursement('@item.Idencrept')" class="btn btn-sm btn-danger remove-item-btn">Delete <i class="fa fa-trash" aria-hidden="true"></i></a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                i++;
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="ReimbursementModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="ReimbursementModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ReimbursementModalLabel"><strong>Reimbursement Details</strong></h5>
                <button type="button" class="btn-close btn btn-danger" data-bs-dismiss="modal" aria-label="Close" onclick="return RemoveTableRecords();"></button>
            </div>
            <div class="modal-body">

                @*/////////////////////////////////////////////////////////////////////////////////////////////////////////////*@

                <div class="card-body">
                    <div class="live-preview">
                        <div class="row gy-4">
                            <fieldset>
                                <legend style="background-color:#0a0a0a ">( Please Fill In The Information Inside The Box And Line Provided )</legend>

                                <div class="row gy-4">
                                    <div class="col-xxl-3 col-md-3">
                                        <label for="labelInput" class="form-label">Voucher No <code>*</code></label>
                                        <input type="text" id="txtVoucherNo" class="form-control" readonly="readonly" />
                                    </div>
                                    <div class="col-xxl-3 col-md-3">
                                        <label for="labelInput" class="form-label">Name<code>*</code></label>
                                        <input type="text" id="txtName" class="form-control" readonly="readonly" />

                                    </div>
                                    <div class="col-xxl-3 col-md-3">
                                        <label for="labelInput" class="form-label">From Date<code>*</code></label>
                                        <input type="text" id="txtFromDate" class="form-control" readonly="readonly" />

                                    </div>
                                    <div class="col-xxl-3 col-md-3">
                                        <label for="labelInput" class="form-label">To Date<code>*</code></label>
                                        <input type="text" id="txtToDate" class="form-control" readonly="readonly" />

                                    </div>
                                    <div class="col-xxl-3 col-md-3 mb-3">
                                        <label for="labelInput" class="form-label">Branch Name<code>*</code></label>
                                        <input type="text" id="txtBranchName" class="form-control" readonly="readonly" />

                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>

                @*/////////////////////////////////////////////////////////////////////////////////////////////////////////////*@

                <div class="card-body my-4">
                    <div class="live-preview">
                        <div class="row gy-4">

                            <fieldset>
                                <legend style="background-color:#0a0a0a;">Important Note : All Submited Bills Should Not Be Longer Than 7 Days On the Invoice/Receipt Date</legend>
                                <div class="table-responsive">
                                    <table border="1" id="example" class="display table table-bordered" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th>Date Of Bill</th>
                                                <th>Description</th>
                                                <th>Amount</th>
                                            </tr>
                                        </thead>
                                        <tbody class="tBodyId22">
                                        </tbody>
                                    </table>
                                </div>
                            </fieldset>

                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                @*<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>*@
            </div>
        </div>
    </div>
</div>




@section scripts{
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!--datatable js-->
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.print.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.html5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="~/assets/js/pages/datatables.init.js"></script>
    <!-- App js -->
    <script src="~/assets/js/app.js"></script>
}

<script src="~/MyApp/HR_Reimbursement.js"></script>

<script>
    $(document).ready(function () {
    })

    //function ViewReimbursementDetails(Id) {
    //    debugger;
    //    $("#ReimbursementModal").modal('show');
    //    window.location.href = '/HR_Reimbursement/ReimbursementList?Id=' + Id;
    //}

</script>

<script>
    $(document).ready(function () {
        var queryString = new Array();
        if (queryString.length == 0) {
            if (window.location.search.split('?').length > 1) {
                var params = window.location.search.split('?')[1].split('&');
                for (var i = 0; i < params.length; i++) {
                    var key = params[i].split('=')[0];
                    var value = decodeURIComponent(params[i].split('=')[1]);
                    queryString[key] = value;
                }
            }

            $('#txtsearch').val(queryString[key]);
        }
    });

    $('#txtsearch').change(function () {

        searchfromDB();
    });

    function searchfromDB() {
        debugger;

        var SearchKey = $('#txtsearch').val();
        var url = "/HR_Reimbursement/ReimbursementList?Key=" + SearchKey;
        window.location.href = url;
    }
</script>















