@model MassAutoGarage.Models.HR_TourIntimation.HR_TourIntimationModel

@{
    ViewBag.Title = "Tour Intimation";
    ViewBag.pTitle = "Tour Intimation";
    ViewBag.pageTitle = "Forms";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int i = 1; int j = 1;
}


<style>

    .main-table {
        width: 100%;
        /*  max-width: 980px;*/
        /* change to suit*/
        margin: auto;
        border: 1px solid #4b38af;
        border-collapse: collapse;
    }

        .main-table thead th {
            background: #4b38af;
            color: #fff;
            color: #fff;
            font-size: 0.8rem;
            padding: 5px 9px 6px 9px;
            line-height: 1;
            border: 1px solid #626060;
        }

        .main-table th,
        .main-table td {
            vertical-align: top;
            text-align: left;
            border: 1px solid #626060;
        }

    td.numbers {
        text-align: center;
    }

    .main-table td {
        font-size: 13px; /* font-size: 0.7rem;*/
        padding: 3px 9px;
        border-bottom: 1px solid #999; /* dotted borders look bad on tables*/
        line-height: 1.2;
    }

    .table-heading {
        font-size: 0.7rem;
        margin: 0 0 0.5em;
    }

    .item-options {
        margin: 0 0 0.5rem;
        overflow: hidden;
        clear: both;
    }

        .item-options dt {
            margin: 0;
            font-weight: bold;
        }

        .item-options dt,
        .item-options dd {
            display: inline-block;
            margin: 0;
            padding: 0 5px 0 0;
            vertical-align: top;
        }

            .item-options dt:after {
                content: ":";
            }

    .main-table tbody tr:nth-child(odd) td {
        background: #f9f9f9;
    }

    @@media screen and (max-width: 540px) {
        table.mobile-optimised {
            word-wrap: break-word;
            font-size: 1rem;
            border: none;
        }

            table.mobile-optimised thead {
                display: none;
            }

            table.mobile-optimised td {
                display: block;
                float: left; /* ie9 and under hack */
                width: 100%;
                clear: both;
                background: #eee;
                border: none;
                padding: 10px 5px;
                box-sizing: border-box;
                font-size: 12px;
            }

            table.mobile-optimised tbody,
            table.mobile-optimised tr {
                display: block;
            }

        .mobile-optimised td:before {
            content: attr(data-th);
            display: block;
            font-weight: bold;
            margin: 0 0 2px;
            background: #4b38af;
            color: #fff;
            padding: 5px;
        }

        .mobile-optimised tbody tr {
            border-bottom: 1px solid #000;
            overflow: hidden;
        }

        .item-options,
        .table-heading {
            font-size: 1rem;
        }

        .mobile-optimised .numbers {
            text-align: left;
        }

        .main-table tbody tr:nth-child(odd) td {
            background: #ccc;
        }
    }


    /*    fieldset start   */

    fieldset {
        border: solid;
        border-color: #151529;
        border-width: thin;
    }

    legend {
        float: none;
        width: 20%;
        background-color: #bbb1b1;
        color: white;
        padding: 5px 10px;
        font-size: small;
    }

    #legendResuming {
        float: none;
        width: 34%;
        background-color: #bbb1b1;
        color: white;
        padding: 5px 10px;
        font-size: small;
    }

    #legendPassportRelease {
        float: none;
        width: 57%;
        background-color: #bbb1b1;
        color: white;
        padding: 5px 10px;
        font-size: small;
    }

    #legendEmployeeUnderTaking {
        float: none;
        width: 38%;
        background-color: #bbb1b1;
        color: white;
        padding: 5px 10px;
        font-size: small;
    }

    input {
        margin: 5px;
    }


    #fieldsetRequestFor {
        border: solid;
        border-color: #151529;
        border-width: thin;
    }

    #legendRequestFor {
        float: none;
        width: 15%;
        background-color: #bbb1b1;
        color: white;
        padding: 5px 10px;
        font-size: small;
    }

    #fieldsetCertificate {
        border: solid;
        border-color: #151529;
        border-width: thin;
    }

    #legendCertificate {
        float: none;
        width: 13%;
        background-color: #bbb1b1;
        color: white;
        padding: 4px 9px;
        font-size: small;
    }

    #fieldsetCashAdvance {
        border: solid;
        border-color: #151529;
        border-width: thin;
    }

    #legendCashAdvance {
        float: none;
        width: 35%;
        background-color: #bbb1b1;
        color: white;
        padding: 4px 9px;
        font-size: small;
    }

    #legendNewStaffJoining {
        float: none;
        width: 40%;
        background-color: #bbb1b1;
        color: white;
        padding: 4px 9px;
        font-size: small;
    }



    #legendLeaveDate {
        float: none;
        width: 10%;
        background-color: #bbb1b1;
        color: white;
        padding: 4px 9px;
        font-size: small;
    }


    #legendAirTicket {
        float: none;
        width: 20%;
        background-color: #bbb1b1;
        color: white;
        padding: 4px 9px;
        font-size: small;
    }


    #legendApplyForSickLeave {
        float: none;
        width: 40%;
        background-color: #bbb1b1;
        color: white;
        padding: 4px 9px;
        font-size: small;
    }





    /*    fieldset end   */
</style>

<script src="https://unpkg.com/sweetalert2@7.8.2/dist/sweetalert2.all.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.1/sweetalert.css" rel="stylesheet" />
@section styles{
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
}

@using (Html.BeginForm("TourIntimation", "HR_TourIntimation", FormMethod.Post, new { enctype = "multipart/form-data", OnSubmit = "return ValidationForm()", @class = "form-validate", @id = "myformid" }))
{
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header main-f">
                    <div class="row">
                        <div class="col-md-6 col-5"> <h5 class="card-title mb-0 gp-detail">HR_Tour Intimation</h5></div>
                        <div class="col-md-6 col-7">
                            <a href="@Url.Action("TourIntimationList","HR_TourIntimation")" class="btn btn-primary add-new" style="float:right;" tabindex="1"> <i class="fa fa-arrow-left align-middle me-1"></i> Back To Tour Intimation List</a>
                        </div>
                    </div>
                </div>
                <!-- end card header -->

                <div class="card-body">
                    <div class="live-preview">
                        <div class="row gy-4">
                            <fieldset>
                                <legend style="background-color:#151529">Tour Intimation Form</legend>
                                <div class="row gy-4" style="margin-bottom:15px;">
                                    <div class="col-xxl-3 col-md-3">
                                        <label for="labelInput" class="form-label"> Voucher Number <code>*</code></label>
                                        @Html.HiddenFor(m => m.Idincrept, new { @class = "form-control" })
                                        @Html.HiddenFor(m => m.hdfVoucherNo, new { @class = "form-control" })
                                        @Html.TextBoxFor(m => m.VoucherNo, new { @class = "form-control", @readonly = "readonly", tabindex = 1 })
                                    </div>

                                </div>
                                <hr />
                                <div class="row gy-4" style="margin-bottom:15px;">
                                    <div class="col-xxl-3 col-md-3">
                                        <label for="labelInput" class="form-label">Employee Name <code>*</code></label>
                                        @Html.DropDownListFor(x => x.EmployeeId, new SelectList(ViewBag.ddlEmployee, "Id", "EmployeeName"), "- Select Employee -", new { @class = "form-control", tabindex = 2 })

                                    </div>

                                    <div class="col-xxl-3 col-md-3">
                                        <label for="labelInput" class="form-label">Designation<code>*</code></label>
                                        @Html.DropDownListFor(x => x.DesignationId, new SelectList(ViewBag.ddlDesignation, "Id", "Designation"), "- Select Designation -", new { @class = "form-control", tabindex = 3 })

                                    </div>

                                    <div class="col-xxl-3 col-md-3">
                                        <label for="labelInput" class="form-label">Tour Destination<code>*</code></label>
                                        @Html.TextBoxFor(m => m.TourDestination, new { @class = "form-control", tabindex = 4 })
                                    </div>
                                    <div class="col-xxl-3 col-md-3">
                                        <label for="labelInput" class="form-label">Travel Mode<code>*</code></label>
                                        @Html.DropDownList("TravelModeID", new List<SelectListItem>
                                         {
                                             new SelectListItem{ Text="--Select Travel Mode--", Value = "" },
                                             new SelectListItem{ Text="By Road", Value = "1" },
                                             new SelectListItem{ Text="By Air", Value = "2" },
                                          },new { @class = "form-control" })
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="row gy-4">
                            <fieldset style="margin-top:50px;">
                                <legend style="background-color:#151529">Scheduled Travel Dates</legend>
                                <div class="row gy-4" style="margin-bottom:15px;">
                                    <div class="col-xxl-4 col-md-4">
                                        <label for="labelInput" class="form-label">Start Date<code>*</code></label>
                                        @Html.TextBoxFor(m => m.StartDate, new { @class = "form-control", @readonly = "readonly", tabindex = 6 })

                                    </div>

                                    <div class="col-xxl-4 col-md-4">
                                        <label for="labelInput" class="form-label">Return Date<code>*</code></label>
                                        @Html.TextBoxFor(m => m.ReturnDate, new { @class = "form-control", @readonly = "readonly", tabindex = 7 })

                                    </div>

                                    <div class="col-xxl-4 col-md-4">
                                        <label for="labelInput" class="form-label">Purpose Of Tour<code>*</code></label>
                                        @Html.TextBoxFor(m => m.PurposeOfTour, new { @class = "form-control", tabindex = 8 })

                                    </div>
                                    <div class="col-xxl-6 col-md-6">
                                        <label for="labelInput" class="form-label">Details<code>*</code></label>
                                        @Html.TextAreaFor(m => m.Details, new { @class = "form-control", tabindex = 9 })
                                    </div>
                                    <div class="col-xxl-6 col-md-6">
                                        <label for="labelInput" class="form-label">Suggest Replacement/Handing Over To : (During Absence)<code>*</code></label>
                                        @Html.TextAreaFor(m => m.SuggestReplacement, new { @class = "form-control", tabindex = 10 })
                                    </div>
                                    <div class="col-xxl-12 col-md-12">
                                        <label for="labelInput" class="form-label">Acknowledgement Of Taking Over<code>*</code></label>
                                        @Html.TextAreaFor(m => m.Acknowledgement, new { @class = "form-control", tabindex = 11 })
                                    </div>
                                </div>
                            </fieldset>
                        </div>

                        <div class="row gy-4">
                            <fieldset style="margin-top:50px;">
                                <legend style="background-color:#151529">PR/HR Assistance</legend>
                                <div class="row gy-4" style="margin-bottom:15px;">
                                    <h5 style="margin-top:40px;">Visa  Application :</h5>
                                    <div class="col-xxl-6 col-md-6">
                                        <label class="form-control">
                                            @Html.CheckBoxFor(m => m.VisaSingleEntry, new { tabindex = 12 }) Single Entry
                                        </label>
                                    </div>
                                    <div class="col-xxl-6 col-md-6">
                                        <label class="form-control">
                                            @Html.CheckBoxFor(m => m.VisaMultipleEntry, new { tabindex = 13 }) Multiple Entry
                                        </label>
                                    </div>
                                    <div class="col-xxl-5 col-md-5">
                                        <label class="form-control">
                                            @Html.CheckBoxFor(m => m.HotelEconomic, new { tabindex = 14 }) Hoten(Economical)............Nights.

                                        </label>
                                    </div>
                                    <div class="col-xxl-7 col-md-7">
                                        <label class="form-control">
                                            @Html.CheckBoxFor(m => m.PassportRelease, new { tabindex = 15 }) Passport Release:For Visa(Passport Release Form To Be Filled Separately)
                                        </label>
                                    </div>
                                </div>
                                <div class="row gy-4" style="margin-bottom:15px;">
                                    <h5>Travel Insurance :</h5>
                                    <div class="col-xxl-6 col-md-6">
                                        <label class="form-control">
                                            @Html.CheckBoxFor(m => m.TravelInsuranceYes, new { tabindex = 16 })Yes
                                        </label>
                                    </div>
                                    <div class="col-xxl-6 col-md-6">
                                        <label class="form-control">
                                            @Html.CheckBoxFor(m => m.TravelInsuranceNo, new { tabindex = 17 })No
                                        </label>
                                    </div>
                                </div>
                                <div class="row gy-4" style="margin-bottom:15px;">
                                    <h5>Accounts  Assistance :</h5>
                                    <div class="col-xxl-12 col-md-12">
                                        <label for="labelInput" class="form-label">Cash Advance Amount<code>*</code></label>
                                        @Html.TextBoxFor(m => m.CashAdvanceAmt, new { @class = "form-control", tabindex = 18, @onkeypress = "return isNumberOrDecimal(event);" })
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
                <br />
                <div class="col-xxl-12 col-md-12">
                    <div class="form-floating" style="float: right; padding-right: 2%;">
                        <input type="button" value="@ViewBag.ButtonText" id="btnsave" class="btn btn-primary" />
                        <a href="/HR_TourIntimation/TourIntimation" class="btn btn-danger">Reset</a>
                    </div>
                </div>
                <br />
            </div>
        </div>
        <!--end col-->
    </div>
    <!-- Modal -->
}

@section scripts{
    <!--select2 cdn-->
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="~/assets/js/pages/select2.init.js"></script>
    <script src="~/assets/libs/prismjs/prism.js"></script>
    <script src="~/assets/js/app.js"></script>
    <!-- prismjs plugin -->
    <!-- App js -->
}
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="https://unpkg.com/sweetalert2@7.8.2/dist/sweetalert2.all.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.1/sweetalert.css" rel="stylesheet" />
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
@*<link rel="stylesheet" href="/resources/demos/style.css">*@
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="~/MyApp/AddONS.js"></script>

<script src="~/MyApp/HR_TourIntimation.js"></script>

<script>
    $(document).ready(function () {
        vouchernew();
    });
    function vouchernew() {
        debugger;
        $.ajax({
            type: 'POST',
            url: '/HR_TourIntimation/GetMaxVoucher',
            data: "{}",
            dataType: "json",
            success: function (result) {
                $.each(result, function (i, v) {

                    if ($("#Idincrept").val() != 0) {
                        $("#VoucherNo").val($("#hdfVoucherNo").val());
                    }
                    else {
                        var i = 'TIV-' + v.MaxID;
                        $("#VoucherNo").val(i);
                    }

                    //var i = 'TIV-' + v.MaxID;
                    //$("#VoucherNo").val(i);
                })
            }
        })
    }
</script>



















