@model MassAutoGarage.Models.HR_MainPowerRequisition.HR_MainPowerRequisitionModel

@{
    ViewBag.Title = "Main Power Requisition";
    ViewBag.pTitle = "Main Power Requisition";
    ViewBag.pageTitle = "Forms";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int i = 1; int j = 1;
}


<style>

    .main-table {
        width: 100%;
        /*  max-width: 980px;*/
        /* change to suit*/
        margin: auto;
        border: 1px solid #4b38af;
        border-collapse: collapse;
    }

        .main-table thead th {
            background: #4b38af;
            color: #fff;
            color: #fff;
            font-size: 0.8rem;
            padding: 5px 9px 6px 9px;
            line-height: 1;
            border: 1px solid #626060;
        }

        .main-table th,
        .main-table td {
            vertical-align: top;
            text-align: left;
            border: 1px solid #626060;
        }

    td.numbers {
        text-align: center;
    }

    .main-table td {
        font-size: 13px; /* font-size: 0.7rem;*/
        padding: 3px 9px;
        border-bottom: 1px solid #999; /* dotted borders look bad on tables*/
        line-height: 1.2;
    }

    .table-heading {
        font-size: 0.7rem;
        margin: 0 0 0.5em;
    }

    .item-options {
        margin: 0 0 0.5rem;
        overflow: hidden;
        clear: both;
    }

        .item-options dt {
            margin: 0;
            font-weight: bold;
        }

        .item-options dt,
        .item-options dd {
            display: inline-block;
            margin: 0;
            padding: 0 5px 0 0;
            vertical-align: top;
        }

            .item-options dt:after {
                content: ":";
            }

    .main-table tbody tr:nth-child(odd) td {
        background: #f9f9f9;
    }

    @@media screen and (max-width: 540px) {
        table.mobile-optimised {
            word-wrap: break-word;
            font-size: 1rem;
            border: none;
        }

            table.mobile-optimised thead {
                display: none;
            }

            table.mobile-optimised td {
                display: block;
                float: left; /* ie9 and under hack */
                width: 100%;
                clear: both;
                background: #eee;
                border: none;
                padding: 10px 5px;
                box-sizing: border-box;
                font-size: 12px;
            }

            table.mobile-optimised tbody,
            table.mobile-optimised tr {
                display: block;
            }

        .mobile-optimised td:before {
            content: attr(data-th);
            display: block;
            font-weight: bold;
            margin: 0 0 2px;
            background: #4b38af;
            color: #fff;
            padding: 5px;
        }

        .mobile-optimised tbody tr {
            border-bottom: 1px solid #000;
            overflow: hidden;
        }

        .item-options,
        .table-heading {
            font-size: 1rem;
        }

        .mobile-optimised .numbers {
            text-align: left;
        }

        .main-table tbody tr:nth-child(odd) td {
            background: #ccc;
        }
    }


    /*    fieldset start   */

    fieldset {
        border: solid;
        border-color: #151529;
        border-width: thin;
    }

    legend {
        float: none;
        width: 42%;
        background-color: #bbb1b1;
        color: white;
        padding: 5px 10px;
        font-size: small;
    }

    #legendResuming {
        float: none;
        width: 34%;
        background-color: #bbb1b1;
        color: white;
        padding: 5px 10px;
        font-size: small;
    }

    #legendPassportRelease {
        float: none;
        width: 57%;
        background-color: #bbb1b1;
        color: white;
        padding: 5px 10px;
        font-size: small;
    }

    #legendEmployeeUnderTaking {
        float: none;
        width: 38%;
        background-color: #bbb1b1;
        color: white;
        padding: 5px 10px;
        font-size: small;
    }


    #legendQualification {
        float: none;
        width: 48%;
        background-color: #bbb1b1;
        color: white;
        padding: 5px 10px;
        font-size: small;
    }


    #legendEducationalRequirement {
        float: none;
        width: 20%;
        background-color: #bbb1b1;
        color: white;
        padding: 5px 10px;
        font-size: small;
    }





    input {
        margin: 5px;
    }


    #fieldsetRequestFor {
        border: solid;
        border-color: #151529;
        border-width: thin;
    }

    #legendRequestFor {
        float: none;
        width: 15%;
        background-color: #bbb1b1;
        color: white;
        padding: 5px 10px;
        font-size: small;
    }

    #fieldsetCertificate {
        border: solid;
        border-color: #151529;
        border-width: thin;
    }

    #legendCertificate {
        float: none;
        width: 13%;
        background-color: #bbb1b1;
        color: white;
        padding: 4px 9px;
        font-size: small;
    }

    #fieldsetCashAdvance {
        border: solid;
        border-color: #151529;
        border-width: thin;
    }

    #legendCashAdvance {
        float: none;
        width: 35%;
        background-color: #bbb1b1;
        color: white;
        padding: 4px 9px;
        font-size: small;
    }

    #legendNewStaffJoining {
        float: none;
        width: 40%;
        background-color: #bbb1b1;
        color: white;
        padding: 4px 9px;
        font-size: small;
    }



    #legendLeaveDate {
        float: none;
        width: 10%;
        background-color: #bbb1b1;
        color: white;
        padding: 4px 9px;
        font-size: small;
    }


    #legendAirTicket {
        float: none;
        width: 20%;
        background-color: #bbb1b1;
        color: white;
        padding: 4px 9px;
        font-size: small;
    }


    #legendApplyForSickLeave {
        float: none;
        width: 40%;
        background-color: #bbb1b1;
        color: white;
        padding: 4px 9px;
        font-size: small;
    }





    /*    fieldset end   */
</style>

<script src="https://unpkg.com/sweetalert2@7.8.2/dist/sweetalert2.all.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.1/sweetalert.css" rel="stylesheet" />
@section styles{
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
}

@using (Html.BeginForm("MainPowerRequisition", "HR_MainPowerRequisition", FormMethod.Post, new { enctype = "multipart/form-data", OnSubmit = "return ValidationForm()", @class = "form-validate", @id = "myformid" }))
{
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header main-f">
                    <div class="row">
                        <div class="col-md-6 col-5"> <h5 class="card-title mb-0 gp-detail">HR_Main Power Requisition</h5></div>
                        <div class="col-md-6 col-7">
                            <a href="@Url.Action("MainPowerRequisitionList","HR_MainPowerRequisition")" class="btn btn-primary add-new" style="float:right;" tabindex="1"> <i class="fa fa-arrow-left align-middle me-1"></i> Back To Main Power Requisition List</a>
                        </div>
                    </div>
                </div>
                <!-- end card header -->
                <div class="card-body">
                    <div class="live-preview">
                        <div class="row gy-4">
                            <fieldset>
                                <legend style="background-color:#151529">( Please Fill In The Information Inside The Box And Line Provided )</legend>
                                <div class="row gy-4" style="margin-bottom:15px;">
                                    <div class="col-xxl-3 col-md-3">
                                        <label for="labelInput" class="form-label"> Voucher Number <code>*</code></label>
                                        @Html.HiddenFor(m => m.Idincrept, new { @class = "form-control" })
                                        @Html.HiddenFor(m => m.hdfVoucherNo, new { @class = "form-control" })
                                        @Html.TextBoxFor(m => m.VoucherNo, new { @class = "form-control", @readonly = "readonly", tabindex = 1 })
                                    </div>

                                </div>
                                <hr />
                                <div class="row gy-4" style="margin-bottom:15px;">
                                    <div class="col-xxl-3 col-md-3">
                                        <label for="labelInput" class="form-label">Requesting Department<code>*</code></label>
                                        @Html.DropDownListFor(x => x.DepartmentId, new SelectList(ViewBag.ddlDepartment, "Id", "DepartmentName"), "- Select Department -", new { @class = "form-control", tabindex = 2 })

                                    </div>
                                    <div class="col-xxl-3 col-md-3">
                                        <label for="labelInput" class="form-label">Date Requested<code>*</code></label>
                                        @Html.TextBoxFor(m => m.RequestedDate, new { @class = "form-control", @readonly = "readonly", tabindex = 3 })
                                    </div>
                                    <div class="col-xxl-3 col-md-3">
                                        <label for="labelInput" class="form-label">Date Required<code>*</code></label>
                                        @Html.TextBoxFor(m => m.RequiredDate, new { @class = "form-control", @readonly = "readonly", tabindex = 4 })
                                    </div>
                                    <div class="col-xxl-3 col-md-3">
                                        <label for="labelInput" class="form-label">Position/Title<code>*</code></label>
                                        @Html.DropDownListFor(x => x.DesignationId, new SelectList(ViewBag.ddlDesignation, "Id", "Designation"), "- Select Designation -", new { @class = "form-control", tabindex = 5 })

                                    </div>
                                </div>
                                <div class="row gy-4" style="margin-bottom: 16px;padding-left: 10px; padding-right: 10px;">
                                    <h5>Employeement Type :</h5>
                                    <div class="col-xxl-4 col-md-4">
                                        <label class="form-control">
                                            @Html.CheckBoxFor(m => m.FullTime, new { tabindex = 6 }) Full Time
                                        </label>
                                    </div>
                                    <div class="col-xxl-4 col-md-4">
                                        <label class="form-control">
                                            @Html.CheckBoxFor(m => m.ProjectHire, new { tabindex = 7 }) Project Hire

                                        </label>
                                    </div>
                                    <div class="col-xxl-4 col-md-4">
                                        <label class="form-control">
                                            @Html.CheckBoxFor(m => m.Temporary, new { tabindex = 8 })Temporary
                                        </label>
                                    </div>
                                    <div class="col-xxl-12 col-md-12">
                                        <label for="labelInput" class="form-label">Brief Description Of Duties(Or Attach The Job Description)<code>*</code></label>
                                        @Html.TextAreaFor(m => m.JobDescription, new { @class = "form-control", tabindex = 9 })
                                    </div>
                                </div>

                                <div class="row gy-4" style="margin-bottom:15px; padding-left: 10px; padding-right: 10px;">
                                    <h5>Nature Of Request :</h5>
                                    <div class="col-xxl-4 col-md-4">
                                        <label class="form-control">
                                            @Html.CheckBoxFor(m => m.AdditionNew, new { tabindex = 10 })New/Addition
                                        </label>
                                    </div>
                                    <div class="col-xxl-4 col-md-4">
                                        <label class="form-control">
                                            @Html.CheckBoxFor(m => m.Budgeted, new { tabindex = 11 })Budgeted
                                        </label>
                                    </div>
                                    <div class="col-xxl-4 col-md-4">
                                        <label class="form-control">
                                            @Html.CheckBoxFor(m => m.Replacement, new { tabindex = 12 })Replacement
                                        </label>
                                    </div>
                                    <div class="col-xxl-2 col-md-2">
                                        <label for="labelInput" class="form-label">Age Range<code>*</code></label>
                                        @Html.TextBoxFor(m => m.AgeRange, new { @class = "form-control", tabindex = 13 })
                                    </div>
                                    <div class="col-xxl-2 col-md-2">
                                        <label for="labelInput" class="form-label">Salary Range<code>*</code></label>
                                        @Html.TextBoxFor(m => m.SalaryRange, new { @class = "form-control", tabindex = 14 })
                                    </div>
                                    <div class="col-xxl-4 col-md-4">
                                        <label for="labelInput" class="form-label">Status<code>*</code></label>
                                        @Html.DropDownListFor(x => x.StatusID, new List<SelectListItem>
                                        {
                                         new SelectListItem() {Text = "--Select Status--", Value=""},
                                         new SelectListItem() {Text = "Single", Value="1"},
                                         new SelectListItem() {Text = "Married", Value="2"},
                                         new SelectListItem() {Text = "No Preference", Value="3"},
                                        }, new { @class = "form-control", tabindex = 15 })
                                    </div>
                                    <div class="col-xxl-4 col-md-4">
                                        <label for="labelInput" class="form-label">Gender<code>*</code></label>
                                        @Html.DropDownListFor(x => x.GenderID, new List<SelectListItem>
                                       {
                                        new SelectListItem() {Text = "--Select Gender--", Value=""},
                                        new SelectListItem() {Text = "Male", Value="1"},
                                        new SelectListItem() {Text = "Female", Value="2"},
                                        new SelectListItem() {Text = "No Preference", Value="3"},
                                       }, new { @class = "form-control", tabindex = 16 })

                                    </div>
                                </div>
                            </fieldset>
                        </div>

                        @*<div class="row gy-4">
                                <fieldset style="margin-top:55px;">
                                    <legend style="background-color:#151529" id="legendEmployeeUnderTaking">Educational Requirement</legend>
                                    <div class="row gy-4" style="margin-bottom:15px;">
                                        <div class="table-responsive" style="margin-top:45px;">
                                            <table border="1" id="exampleEducationalRequirement" class="display table table-bordered" style="width:100%">
                                                <thead>
                                                    <tr>
                                                        <th style=" width: 1%;">S.N.</th>
                                                        <th>Qualification</th>
                                                        <th>Passing Year</th>
                                                        <th>Board</th>
                                                        <th>Percentage(%)</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>1</td>
                                                        <td><input type="text" class="form-control" placeholder="HighSchool" /></td>
                                                        <td><input type="text" class="form-control" placeholder="Passing Year" /></td>
                                                        <td><input type="text" class="form-control" placeholder="Board" /></td>
                                                        <td><input type="text" class="form-control" placeholder="Percentage(%)" /></td>
                                                    </tr>
                                                    <tr>
                                                        <td>2</td>
                                                        <td><input type="text" class="form-control" placeholder="InterMediate" /></td>
                                                        <td><input type="text" class="form-control" placeholder="Passing Year" /></td>
                                                        <td><input type="text" class="form-control" placeholder="Board" /></td>
                                                        <td><input type="text" class="form-control" placeholder="Percentage(%)" /></td>
                                                    </tr>
                                                    <tr>
                                                        <td>3</td>
                                                        <td><input type="text" class="form-control" placeholder="UG" /></td>
                                                        <td><input type="text" class="form-control" placeholder="Passing Year" /></td>
                                                        <td><input type="text" class="form-control" placeholder="Board" /></td>
                                                        <td><input type="text" class="form-control" placeholder="Percentage(%)" /></td>
                                                    </tr>
                                                    <tr>
                                                        <td>4</td>
                                                        <td><input type="text" class="form-control" placeholder="PG" /></td>
                                                        <td><input type="text" class="form-control" placeholder="Passing Year" /></td>
                                                        <td><input type="text" class="form-control" placeholder="Board" /></td>
                                                        <td><input type="text" class="form-control" placeholder="Percentage(%)" /></td>
                                                    </tr>
                                                    <tr>
                                                        <td>5</td>
                                                        <td><input type="text" class="form-control" placeholder="Other" /></td>
                                                        <td><input type="text" class="form-control" placeholder="Passing Year" /></td>
                                                        <td><input type="text" class="form-control" placeholder="Board" /></td>
                                                        <td><input type="text" class="form-control" placeholder="Percentage(%)" /></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                    <div class="row gy-4">
                                        <h5>Preferred Qualifications/Experience(Not Mentioned Above Or In The JD) :</h5>
                                        <div class="table-responsive">
                                            <table border="1" id="examplePreferredQualifications" class="display table table-bordered" style="width:100%">
                                                <thead>
                                                    <tr>
                                                        <th style=" width: 1%;">S.N.</th>
                                                        <th>Preferred Qualification</th>
                                                        <th>Experience</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>

                                                        <td><input type="text" name="PreferredQualification" class="txtPreferredQualification form-control" placeholder="Preferred Qualification" id="PreferredQualificationId" /></td>
                                                        <td><input type="text" name="PreferredExperience" class="txtPreferredExperience form-control" placeholder="Experience" id="PreferredExperienceId" /></td>
                                                        <td>
                                                            <button type="button" id="btnAdd" class="btn btn-xs btn-primary classAdd" onclick="Add()">Add New Row</button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>*@




                        <div class="row gy-4">
                            <fieldset style="margin-top:50px;padding-bottom:25px;" id="fieldsetCashAdvance">
                                <legend style="background-color:#151529;" id="legendEducationalRequirement">
                                    Educational Requirement
                                </legend>

                                <div class="row gy-4">
                                    <div class="col-xxl-12 col-md-12">
                                        <div class="table-responsive">
                                            <table border="1" id="exampleEducationalRequirement" class="display table table-bordered" style="width:100%">
                                                <thead>
                                                    <tr>
                                                        <th>Qualification</th>
                                                        <th>Passing Year</th>
                                                        <th>Board</th>
                                                        <th>Percentage(%)</th>
                                                        <th style="width:14%;">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @if (ViewBag.MainPowerDetails != null)
                                                    {
                                                        foreach (var Item in ViewBag.MainPowerDetails)
                                                        {
                                                            <tr>
                                                                <td>@Item.Qualification</td>
                                                                <td>@Item.PassingYear</td>
                                                                <td>@Item.Board</td>
                                                                <td>@Item.Percentage</td>
                                                                <td><input type="button" onclick="Remove1(this);" value="Remove"></td>
                                                            </tr>
                                                        }
                                                    }


                                                </tbody>
                                                <tfoot>
                                                    <tr>
                                                        <td><input type="text" name="Qualification" class="txtQualification form-control" placeholder="Qualification" id="Qualification" /></td>
                                                        <td><input type="text" name="PassingYear" class="txtPassingYear form-control" placeholder="Passing Year" id="PassingYear" /></td>
                                                        <td><input type="text" name="Board" class="txtBoard form-control" placeholder="Board" id="Board" /></td>
                                                        <td><input type="text" name="Percentage" class="txtPercentage form-control" placeholder="Percentage(%)" id="Percentage" /></td>
                                                        <td>
                                                            <button type="button" id="btnAdd" class="btn btn-xs btn-primary classAdd" onclick="AddEducationalRequirement()">Add New Row</button>
                                                        </td>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>

                        <div class="row gy-4">
                            <fieldset style="margin-top:50px;padding-bottom:25px;" id="fieldsetCashAdvance">
                                <legend style="background-color:#151529;" id="legendQualification">
                                    Preferred Qualifications/Experience(Not Mentioned Above Or In The JD)
                                </legend>

                                <div class="table-responsive">
                                    <table border="1" id="example" class="display table table-bordered" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th>Preferred Qualification</th>
                                                <th>Experience</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                @*<td><input type="text" name="PreferredQualification" class="txtPreferredQualification form-control" placeholder="Preferred Qualification" id="PreferredQualification" /></td>
                                                    <td><input type="text" name="PreferredExperience" class="txtPreferredExperience form-control" placeholder="Experience" id="PreferredExperience" /></td>*@
                                                <td>
                                                    @Html.TextBoxFor(m => m.PreferredQualification, new { @class = "txtPreferredQualification form-control", @placeholder = "Preferred Qualification", tabindex = 17 })
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.PreferredExperience, new { @class = "txtPreferredExperience form-control", @placeholder = "Experience", tabindex = 18 })
                                                </td>
                                            </tr>
                                            @*<tr>
                                                    <td><input type="text" name="PreferredQualification" class="txtPreferredQualification form-control" placeholder="Preferred Qualification" id="PreferredQualification" /></td>
                                                    <td><input type="text" name="PreferredExperience" class="txtPreferredExperience form-control" placeholder="Experience" id="PreferredExperience" /></td>
                                                </tr>*@
                                        </tbody>
                                    </table>

                                    @*<table border="1" id="examplePreferredQualifications" class="display table table-bordered" style="width:100%">
                                            <thead>
                                                <tr>
                                                    <th style=" width: 1%;">S.N.</th>
                                                    <th>Preferred Qualification</th>
                                                    <th>Experience</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>

                                                    <td><input type="text" name="PreferredQualification" class="txtPreferredQualification form-control" placeholder="Preferred Qualification" id="PreferredQualificationId" /></td>
                                                    <td><input type="text" name="PreferredExperience" class="txtPreferredExperience form-control" placeholder="Experience" id="PreferredExperienceId" /></td>
                                                    <td>
                                                        <button type="button" id="btnAdd" class="btn btn-xs btn-primary classAdd" onclick="Add()">Add New Row</button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>*@
                                </div>

                                @*<div class="row gy-4">
                                        <div class="col-xxl-12 col-md-12">
                                            <div class="table-responsive">
                                                <table border="1" id="examplePreferredQualifications" class="display table table-bordered" style="width:100%">
                                                    <thead>
                                                        <tr>
                                                            <th>Preferred Qualification</th>
                                                            <th>Experience</th>
                                                            <th style="width:14%;">Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    </tbody>
                                                    <tfoot>
                                                        <tr>
                                                            <td> <input type="text" name="PreferredQualification" class="txtPreferredQualification form-control" id="PreferredQualification" /> </td>
                                                            <td>
                                                                <input type="text" name="PreferredExperience" class="txtPreferredExperience form-control" id="PreferredExperience" />
                                                            </td>
                                                            <td>
                                                                <button type="button" id="btnAdd" class="btn btn-xs btn-primary classAdd" onclick="AddPreferredQualifications()">Add New Row</button>
                                                            </td>
                                                        </tr>
                                                    </tfoot>
                                                </table>
                                            </div>
                                        </div>
                                    </div>*@
                            </fieldset>
                        </div>

                    </div>
                </div>
                <br />
                <div class="col-xxl-12 col-md-12">
                    <div class="form-floating" style="float: right; padding-right: 2%;">
                        <input type="button" value="@ViewBag.ButtonText" id="btnsave" class="btn btn-primary" />
                        <a href="/HR_MainPowerRequisition/MainPowerRequisition" class="btn btn-danger">Reset</a>
                    </div>
                </div>
                <br />
            </div>
        </div>
        <!--end col-->
    </div>
    <!-- Modal -->
}

@section scripts{
    <!--select2 cdn-->
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="~/assets/js/pages/select2.init.js"></script>
    <script src="~/assets/libs/prismjs/prism.js"></script>
    <script src="~/assets/js/app.js"></script>
    <!-- prismjs plugin -->
    <!-- App js -->
}
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="https://unpkg.com/sweetalert2@7.8.2/dist/sweetalert2.all.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.1/sweetalert.css" rel="stylesheet" />
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
@*<link rel="stylesheet" href="/resources/demos/style.css">*@
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="~/MyApp/AddONS.js"></script>
<script src="~/MyApp/HR_MainPowerRequisition.js"></script>

<script>
    $(document).ready(function () {
        vouchernew();
    });
    function vouchernew() {
        debugger;
        $.ajax({
            type: 'POST',
            url: '/HR_MainPowerRequisition/GetMaxVoucher',
            data: "{}",
            dataType: "json",
            success: function (result) {
                $.each(result, function (i, v) {

                    if ($("#Idincrept").val() != 0) {
                        $("#VoucherNo").val($("#hdfVoucherNo").val());
                    }
                    else {
                        var i = 'MPRV-' + v.MaxID;
                        $("#VoucherNo").val(i);
                    }

                    //var i = 'MPRV-' + v.MaxID;
                    //$("#VoucherNo").val(i);
                })
            }
        })
    }
</script>

<style>
    .errortext {
        border: 1px solid red !important;
        background-color: #fff0f0 !important;
    }
</style>


















